<p>admincreateproduct works!</p>
<mat-form-field appearance="fill">
    <mat-label>Product name</mat-label>
    <input matInput>
</mat-form-field>


<mat-form-field appearance="fill">
    <mat-label>Product description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="one">Computer</mat-option>
      <mat-option value="two">Phone</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>